@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}

@theme {
    --color-primary: #FFD498;
    --color-green: #F3FFEB;
    --color-purple: #E5C7FF;
}